* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color:rgb(34, 33, 32);
}
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: rgb(250, 32, 3);
  -webkit-box-shadow: 3px 10px 25px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 10px 25px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 10px 25px -19px rgba(0, 0, 0, 0.75);
}

.navbar ul li {
  display: inline;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  padding-right: 20px;
  background-color: white;
}
.navbar ul li a {
  text-decoration: none;
  color: #122363;
}
.navbar ul li a:hover {
  color: rgb(247, 143, 7);
}
.navbar img {
  width: 150px;
  height: 90px;
  padding: 5px 0px 5px 35px;
  margin: 0;
  align-content: center;
}
.main {
  /* display: flex; */
  position: relative;
  justify-content: center;
  display: flex;
  overflow: hidden;
}
.content {
  /* background-color: #e3e9ff; */
  width: 70%;
  /* height: 1000px; */
  /* display: flex; */
  text-align: justify;
  /* padding-top: 50px; */
  padding: 15px 15px 15px 15px;
  margin: 0;
  /* margin-left: 25px; */
}

.sidebar {
  background-color: #ee9004;
  width: 30%;
  height: 90vh;
  padding: 17px 10px 10px 10px;
  /* display: flex; */
  /* border: 1px solid black; */
  /* display: inline-block; */
  /* margin-left: -4px; */
  flex-direction: column;
  display: none;
}

.card-order {
  width: 91%;
  height: 50px;
  margin: 10px 10px 10px 15px;
  background-color: white;
  display: flex;
  text-align: center;
  border-radius: 10px;
  /* justify-content: stretch; */
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
}

.card-order img {
  width: 50px;
  border-radius: 10px;
  margin: 5px;
}

.card-order p {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  font-weight: 500;
  color: #4e4e4e;
  text-align: left;
}

.card-order span {
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #4e4e4e;
  width: 1%;
}

.card-order button {
  background-color: rgb(214, 11, 11);
  border-radius: 10px;
  padding: 0;
  margin: 10px 0px 10px 20px;
  width: 80px;
  height: 30px;
  border: none;
  color: whitesmoke;
  font-weight: 500;
  align-items: flex-end;
}
.card {
  width: 500px;
  height: 100px;
  background-color: rgb(247, 137, 13);
  border-radius: 15px;
  margin: 15px;
  display: inline-block;
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
}

.card-order button:hover {
  background-color: rgb(163, 12, 12);
}

.card {
  width: 280px;
  height: max-content;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
}

.card img {
  width: 92%;
  height: 80%;
  margin: 10px 10px 0px 10px;
  border-radius: 10px;
  /* display: flex; */
}

.card p {
  margin-left: 10px;
  font-size: 18px;
  font-style: normal;
  font-family: "Mulish", sans-serif;
  color: #4e4e4e;
  font-weight: 700;
}

.card hr {
  margin: 10px;
  color: #b8b8b8;
  border-color: #e2e1e1;
}

.action {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
}

.order span {
  font-size: 17px;
  font-weight: 800;
}

.card-finish button {
  border: none;
  text-align: center;
  width: 90%;
  height: 50px;
  margin: 10px 10px 10px 15px;
  background-color: rgb(95, 247, 7);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
}

.card-finish button:hover {
  background-color: rgb(6, 179, 35);
}

.fas {
  color: #ffffff;
}

.action button {
  background-color: #00b91f;
  border-radius: 10px;
  border: none;
  color: white;
}

.action button:hover {
  background-color: #189e2e;
}

.total {
  margin: 0px 10px 20px 15px;
}

.total h1 {
  color: white;
}

.detail {
  width: 70%;
  display: flex;
}

.about {
  margin-top: 40px;
  width: 100%;
  display: inline-block;
  /* justify-content: center; */
  text-align: center;
}
.about img {
  width: 300px;
}

.team {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.person {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
}
.person img {
  border-radius: 200px;
  width: 100px;
}
.person p {
  font-size: 18px;
  font-weight: 500;
}
.person span {
  font-size: 14px;
}